.table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #000;
    border-radius: 7px;
    background: gold;

}

.td{
    font-size: 16px;
    color: gold;
    background: blueviolet;
    border: 2px solid #000000;
    padding: 5px;
}